@import 'utility';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

/*******************
GENERAL
*******************/

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);

  margin: 0;
  font: $base-text-size / 1 $base-font-family;
  background-color: #00101a;
  color: #363636;
}

main {
  margin: 0 auto;
}

h1,
p {
  margin: 12px 0;
}

/*******************
HEADING
*******************/

header {
  background-image: url('https://github.com/m1g/portfolio/blob/master/public/images/space.jpg?raw=true');
  display: flex;
  flex-direction: column;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  img {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    padding-left: 100px;
  }

  h1 {
    background-color: hsla(360, 100%, 100%, 0.8);
    font-size: 1.25em;
    border-radius: 5px;
    height: 65%;
    padding: 20px;
    margin: -50px 0 0 50px;
    position: relative;
  }

  //Code isn't working - need to add triangle to quote box

  h1::after {
    content: '  ';
    background-image: url('https://github.com/m1g/portfolio/blob/master/public/images/tri.png?raw=true');
    height: 20px;
    width: 20px;
    position: absolute;
    opacity: 0.8;
    bottom: -20px;
    left: 20px;
  }
}

/*******************
PORTFOLIO
*******************/

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: hsla(0, 0%, 0%, 0.6);
  padding-left: 0;
  margin: 100px 0 0;
  width: 100%;
  overflow: visible;

  img {
    padding-left: 0;
    width: 220px;
    height: 200px;
  }
}

li {
  list-style: none;
  padding-left: 0;
  margin: 30px 15px;
}

/*******************
BLOG POST
*******************/

article {
  margin: 30px;
  position: relative;

  div {
    position: relative;
    background-color: white;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  div.content {
    padding: 20px;

    div {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: flex-start;
      padding: 0;
      margin: 0;
      border-bottom: 1px solid #ccc;
      border-radius: 0;

      time {
        padding-left: 10px;
        color: #777;
      }
    }
  }

  header {
    background-image: url('https://github.com/m1g/portfolio/blob/master/public/images/react.png?raw=true');
    border-radius: 5px 5px 0 0;
  }

  .blog-post {
    background-image: url('https://github.com/m1g/portfolio/blob/master/public/images/code.png?raw=true');
  }
}

.keep-reading-btn {
  background-color: #0075db;
  color: white;
  padding: 10px;
  position: absolute;
  right: 40px;
  bottom: -15px;
  border-radius: 5px;
}

/*******************
FOOTER
*******************/

footer {
  color: #ededed;
  margin: 50px 50px 20px;

  .contact-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }

  .copyright {
    font-size: 0.75em;
  }

  li {
    list-style: none;
  }

  h1 {
    font-weight: normal;
    font-size: 1.5em;
  }
}

footer .social-icons a:link,
a:visited {
  text-decoration: none;
  color: white;
}

.fa-twitter,
.fa-3x {
  display: block;
  background: #0075db;
  width: 0.9em;
  height: 0.9em;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}

footer div ul.social-icons {
  font-size: 1em;
  display: flex;
  justify-content: center;
  padding-left: 0;
  padding-bottom: 45px;
  margin-top: 10px;
  background-color: #00101a;
}
